#about .images-skills {
    max-width: 550px;
    display: flex;
    margin: auto;
    align-items: center;
    gap: 15px;
    overflow-x: hidden;
    padding: 10px 0;
}

#about .images-skills img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
    cursor: pointer;
    transition: transform .3s;
}

#about .images-skills img:hover {
    transform: scale(1.2);
}


/* ============= */
/* RESPONSIVE */
/* ============= */
@media (max-width:1000px) {
    #about {
        max-width: 700px;
    }

    #about .row .col .description {
        max-width: fit-content;
    }

    #about .row .col .skills {
        margin-bottom: 0;
    }

    #about .row {
        flex-direction: column;
    }

    #about .images-skills img {
        width: 90px;
        height: 90px;
    }
}