button.rotate {
  animation: rorateMenu .5s ease-in-out forwards;
}

@keyframes rorateMenu {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}

.mobile-query {
  /* position: absolute; */
  right: 10px;
}


.mobile-menu {
  animation: slideDown 0.3s ease forwards;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ================= */
/* RESPONSIVE */
/* ================= */