.rotate,
button.rotate {
  animation: rorateMenu .5s ease-in-out forwards;
}

@keyframes rorateMenu {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}


.showMenu {
  animation: showMenu 1.2s ease-in-out forwards;
}

@keyframes showMenu {
  from {
    width: 0px;
    right: -100px;
    opacity: .6;
  }

  to {
    width: 250px;
    right: 0px;
    opacity: 1;
  }
}


.closeMenu {
  animation: closeMenu 1.3s ease-in-out forwards;
}

@keyframes closeMenu {
  from {
    right: 0px;
    opacity: 1;
    width: 250px;
  }

  to {
    right: -100px;
    opacity: 0.6;
    width: 0px;
  }
}

.mobile-query {
  right: 10px;
}


.mobile-menu {
  animation: slideDown 0.3s ease forwards;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}