@import "tailwindcss";


/* DARK MODE DEFAULT */
body[data-theme="dark"] {
    --primary: #00D8FF;
    --bg: #0D1117;
    --text: #E6EDF3;
    --soft: #2B2F36;
    --hover: #30363D;
}

/* LIGHT MODE */
body[data-theme="light"] {
    --primary: #007a99;
    --bg: #F5F7FA;
    --text: #0D1117;
    --soft: #E2E8F0;
    --hover: #CBD5E1;
}


body {
    background-color: var(--bg);
    color: var(--text);
}

.container {
    max-width: 1100px;
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
}

span.primary {
    color: var(--primary);
}


/* ========================== */
/* ANIMATION  */
/* ========================== */

.fade-in {
    animation: fade-in 1.2s ease-in-out forwards;
}

@keyframes fade-in {

    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


.slide-top {
    animation: slideTop 0.8s ease forwards;
}

@keyframes slideTop {
    from {
        opacity: 0;
        transform: translateY(-180px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.slide-bottom{
    animation: slideBottom 0.8s ease forwards;
}

@keyframes slideBottom {
    from {
        opacity: 0;
        transform: translateY(180px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
